<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Posts</title>
    <style>
        body{
            background-color: rgb(228, 215, 215);
        }
    </style>
</head>
<body>
    <h1>Timeline</h1>
    <ul>
        <% posts.forEach(post => { %>
            <p>
                <strong></strong> <%= post.name %> - <%= post.createdAt %><br>
                <strong></strong> <%= post.message %>
            </p>
        <% }); %>
    </ul>
</body>
</html>
